{% extends 'layout.html'%}
    
{% block title %} Your Pick Revealed {% endblock%}

{% block head_styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='reveal_ballot_styles.css') }}">
{% endblock %}
    
{% block content %}
<div class="main-content">
    {% if is_error %}
        <div class="message-box error">
            <h1 class="error-title">Whoops! Too Slow!</h1>
            <p class="reveal-result">{{ ballot_name }}</p>
            <a href="{{ url_for('pick_ballot') }}" class="cta-button primary">Back to Ballots</a>
        </div>
    {% else %}
        {% if is_repeat_view %}
                <h1 class="success-title">Your Ballot Pick:</h1>
                <p class="sub-text">Welcome back! This is the item you picked previously.</p>
            {% else %}
                <h1 class="success-title">Congratulations! You Picked:</h1>
            {% endif %}
            
            <p class="reveal-result">{{ ballot_name }}</p>
            <a href="{{ url_for('root') }}" class="cta-button primary">Return Home</a>
    {% endif %}
</div>

<footer class="footer">
    &copy; 2025 PrivateBallot
</footer>

{% endblock %}